.firsttext {
  text-align: center;
  /* margin-right: 10%;
  margin-left: 10%; */
  background-image: url(./assets/nightbackground.jpg);
  /* background-size: contain; */
}

@media only screen and (max-width: 600px) {

  .irenaimage{
    /* float: right; */
  }

  .totop {
    margin-bottom: 4%;
  }

  .firsttext {
    background: none;
    color: black !important;
  }

  .overview {
    font-size: 90%;
    top: 12%;
  }

  .text2 {
    font-size: 135%;
    left: 45%;
    margin-left: -30%;
  }

  h3 {
    margin-bottom: 1px !important;
  }
}

@media only screen and (max-width: 900px) {

  .viewextra {
    margin-left: 1%;
  }

  .footerlogos {
    display: block;
    margin-top: 4%;
    margin-bottom: 6%;
  }

  .gratitude {
    margin-bottom: 6%;
  }

  .footerlogos img {
    margin-right: 2.5%;
  }

  .footer {
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 9%;
    margin-top: 11%;
    padding-bottom: 7%;
  }
}

@media only screen and (min-width: 1050px) {
  .copyright {
    float: right;
  }
  
  .slide-container {
    width: 40%;
    /* height: 40%; */
    margin: auto; 
  }

  .time {
    float: right;
  }
}

@media only screen and (min-width: 601px) {
  .overview {
    font-size: 110%;
    margin-right: 9%;
    top: 15%;
  }

  .text2 {
    font-size: 150%;
    left: 40%;
    margin-left: -30%;
  }

  .footer {
    padding-top: 2.5%;
    margin-top: 5%;
    padding-bottom: 1.5%;
  }

  .gratitude {
    margin-bottom: 1.5%;
  }

  .footerlogos img {
    margin-right: 1%;
  }
}

.headerstyle2 {
  color: #0cc4d7 !important;
}

.headerstyle {
  color: #B92427 !important;
}

a:hover {
  text-decoration: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.js */

.text-primary {
  font-size: 70px;
  color: green ;
}

.firsttext p {
  font-size: 25px;
}

.textloop {
  font-size: 25px;
}

#border {
  width: 500px;
  border-radius: 8%;
  box-shadow: 10px 10px 10px #aaaaaa;
}

.responsive {
  opacity: 1;
}

.view {
  position: relative;
  /* text-align: center; */
}

.text2 {
  /* display: inline-block;
  margin: 0 auto; */
  opacity: 0;
  position: absolute;
  background-color: #007bff;
  color: white;
  border-radius: 100px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  text-align: center;
  width: 70%;
}

.button2 {
  padding: 10px;
}

.blah {
  color: #f2f7ff;
  color: #5baaff;
}

.view:hover .responsive{
  opacity: 0.3;
  transition: 0.5s;
}

.overview {
  opacity: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 6%;
  padding-right: 6%;
  position: absolute;
  text-align: center;
}

.view:hover .overview {
  background-color: white;
  opacity: 1;
}

.view:hover .text2 {
  opacity: 1;
  cursor: pointer;
}

.text2:hover {
  background-color: #0065d1;
}

.text {
  max-width: 550px;
  font-size: 20px;
}

.title {
  font-size: 20px;
}

.alignhorizontal {
  display: flex;
}
 
.each-slide > div {
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px; */
  border-style: solid;
} 
 
/* .each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
} */
 
.each-fade {
  display: flex;
}
 
.each-fade .image-container {
  /* width: 75%; */
  /* overflow: hidden; */
}

.viewextra:hover {
  border-bottom: solid;
  transition: 0.1s;
}
 
.each-fade .image-container img {
  max-width: 100%;
  height: auto;
  /* height: 80%; */
}

h1 {
  color: #007bff;
  /* color: rgb(146, 146, 146); */
}

#design, #dev {
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}

#design:hover, #dev:hover {
  color: #007bff !important;
  top: -7px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.font {
  font-size: 18px;
  margin: 1px;
}

/* .titlelink:hover {
  border-bottom: 1px solid gray;
  color: rgb(104, 104, 104);
  transition: 0.1s;
} */